nav.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.menu-nav-ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: var(--second-color);
}

.nav-link:focus {
    color: var(--white-color)
}

input.form-control.search-input {
    background: no-repeat;
    border: none;
    color: var(--white-color);
    padding-left: 20px;
}

button.search-btn {
    background: #3d287300;
    border: none;
    color: var(--white-color);
    width: 80px;
    height: 46px;
    transition: 0.3s;
}

form.search-form {
    background: #1e2b5a00;
    border-radius: 45px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--white-color);
}

a.nav-link {
    color: var(--white-color);
    font-size: 20px;
    padding: 8px 13px;
}
a.nav-link:hover{color: var(--white-color);}
a.nav-link:focus{color:var(--white-color);}
header.header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    transition: 0.3s;
    background: var(--main-color);
    z-index: 99;
}

header.header.navbar-fixed {
    background: #5022cee0;
    color: var(--second-color);
    padding: 15px 0;
    z-index: 99;
    backdrop-filter: blur(7px);
    /* box-shadow: 0px 0px 20px 1px #0f1a3c; */
}

.search-input::placeholder {
    color: var(--white-color);
}

.dp-menu {
    position: absolute;
    width: 250px;
    /* background: var(--white-color); */
    border-radius:5px ;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 35px;
    right: 0;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    background: var(--white-color);
}
.dp-menu li{
    width: 100%;
    padding: 5px 0;
}
a.dp-link {
    padding: 10px 20px;
    color: var(--second-color);
    transition: 0.3s;
    text-align: left;
    font-size: 20px;
    text-transform: capitalize;
}

a.dp-link:hover {
    width: 100%;
    color: var(--main-color);
    z-index: 3;
}

li.nav-list:hover .dp-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.show-nav {
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    display: none;
    position: absolute;
    right: 20px;
    color: var(--white-color);
}



.close-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9px 0px #323232;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    /* color: var(--white-color); */
}

.l-none {
    display: none;
}
.nav-select-item {
    margin-right: 0 !important;
}
.nav-select-item .select-menu{
    color: #fff !important;
    padding:none !important;
    background: none !important;
    border: none !important;
    border-radius: 8px;
    position: relative;
}
.nav-select-item .select-menu .select-menu-inner{
    color:var(--white-color);
    font-size: 20px;
    display: flex;
    align-items: center;
}
.header-search-box {
    width: 224px !important;
}
.dp-menu.active {
    display: block !important;
}
@media screen and (max-width: 1200px) {
    .dp-menu {
        width: -moz-fit-content;
        width: fit-content;
        display: none !important;
        position: static;
        position: initial;
        background: var(--white-color);
        border-radius: 12px;
        right: 0;
        width: 80%;
        margin: auto;
        transition: 0.3s;
        opacity: 1 !important;
        visibility: visible;
        /* padding: 0 0 15px 0px; */
        /* padding-bottom: 29px; */
        overflow: hidden;
        box-shadow: none;
        z-index: 99;
        left: 0;
        text-align: center;
    }
    .connect-btn-mobile{
        width: 300px;
        margin: auto;
    }
    a.dp-link {
        text-align: center !important;
    }
    .m-none {
        display:block;
    }
    .l-none {
        display: block;
    }
    .search-box {
        margin-right: 50px;
    }
    .show-nav {
        display: block;
        color: var(--white-color);
    }
    .nav-select-item .select-menu-inner{
        justify-content: center !important;
    }
    ul.menu-nav-ul {
        display: block;
        margin: 0;
    }
    .menu {
        display: block;
        align-items: center;
        position: fixed;
        height: 100vh;
        background: #03091fe3;
        bottom: 0;
        box-shadow: -2px 5px 13px 0px #0b0c11;
        top: 0;
        padding: 30px 20px;
        transition: 0.5s;
        right: -125%;
        z-index: 1;
        backdrop-filter: blur(3px);
        width: 100%;
        text-align: center;
        padding-top: 60px;
    }
    a.nav-link {
        padding-left: 0;
        padding: 10px 10px 10px 0;
    }
    .close-menu {
        display: flex;
    }
    .menu.active {
        right: 0;
    }
    nav.navigation {
     gap: 22px;
    }

    .select:hover .select-menu .dp-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 8px;
        z-index: 1;
    }
}

@media screen and (max-width: 500px) {
  
}


/* =====================footer==================== */

.footer-sec {
    background: var(--main-color);
}

.footer-title {
    margin-bottom: 35px;
}

h3.f-title {
    color: var(--white-color);
}

ul.social-ul {
    display: flex;
}

a.social-link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--main-color);
    transition: 0.3s;
}

a.social-link:hover {
    background: var(--main-color);
    color: var(--white-color);
}

p.footer-des {
    margin-bottom: 30px;
    color: var(--white-color);
}

a.footer-link {
    color: var(--white-color);
    transition: 0.3s;
    font-size: 18px;
}

a.footer-link:hover {
    color: var(--second-color);
}

.form-control {
    border-radius: 0;
    background: #10101000;
    border: 1px solid #d7d7d745;
    color: var(--second-color);
    padding: 10px;
    border-radius: 10px;
}
.form-control::placeholder{
    color: #fff !important;
}
.form-control:focus {
    background: #10101000;
    border-color: var(--main-color) !important;
    color: var(--second-color);
    outline: 0;
    box-shadow: none !important;
}

.copy-right {
    border-top: 1px solid #d7d7d745;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}

ul.f-foot-ul {
    display: flex;
    align-items: center;
}

ul.f-foot-ul li a {
    color: var(--white-color);
    margin: 0 10px;
    transition: 0.3s;
}

ul.f-foot-ul li a:hover {
    color: var(--second-color);
}

@media screen and (max-width: 768px) {
    ul.f-foot-ul {
        display: none;
    }
    .footer-title {
        margin-bottom: 10px;
    }
    .copy-right {
        justify-content: center;
    }
}

form.subscribe-box {
    display: flex;
    align-items: center;
    background: var(--white-color);
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px #742222;
}
form.subscribe-box .form-control::placeholder{
    color: var(--second-color) !important;
}

button.subscribe-btn {
    border: none;
    background: #dc3545;
    height: 100%;
    width: 70px;
    padding: 8px;
    border-radius: 0 7px 7px 0px;
}

.form-control.subscribe {
    padding: 0 13px;
    background: none;
    border: none;
}
/* =============== Search bar =========== */
.results-list{
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    overflow-y:auto;
    background-color: var(--white-color);
    position: absolute;
    left: 20%;
}
.results-list ul{
    padding: 5px 20px;
}
.results-list ul li a{
    color: #0b0c11;
    font-family: var(--primary-font);
    font-size: 16px;
    padding: 10px 20px;
}
@media screen and (max-width: 768px) {
    .results-list{
        width: 100%;
        left: 0;
    }
}