.best-seller-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best-seller-title .section-title {
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.best-seller-title a {
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
}

.best-seller-title .custom-btn::before svg path {
  fill: black !important;
}

/* ==================== Ranking ======================= */

.ranking-header-btn-item {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ranking-btns-item-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ranking-btns-item-left .custom-btn {
  border-radius: 4px !important;
}

.demo-simple-select-label{
  width: 400px;
}

.ranking-btns-item-right .form-select:focus {
  border-radius: 4px !important;
}

.ranking-btns-item-right .form-select {
  padding: 10px 50px 10px 20px;
}

.collection-price {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.ethereum-logo img {
  width: 20px;
  height: 20px;
}

.red-vat span {
  color: var(--main-color);
}

.input-search-from input {
  color: #000 !important;
}

.input-search-from input::placeholder {
  color: #000;
}

.wallet-item-icon {
  background: #ffffff;
  padding: 15px;
  display: inline-block;
  border-radius: 50%;
}

.browser-cat-card p {
  color: #7a798a;
}

/* ========== all style responsive =========== */

@media screen and (max-width: 550px) {
  .ranking-header-btn-item {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
  }
  .ranking-btns-item-left {
    flex-direction: column;
    width: 100%;
  }
  .ranking-btns-item-left .custom-btn {
    width: 100%;
  }
  .ranking-btns-item-right {
    width: 100%;
  }
  .ranking-btns-item-right .form-select {
    padding: 10px 50px 10px 20px;
    width: 100%;
  }
  .best-seller-title {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .best-seller-title a {
    gap: 10px;
    align-items: center;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .best-seller-title .section-title {
    align-items: center;
  }
  .card-item {
    padding: 20px;
  }
  .form-info {
    padding: 0 0px;
  }
  .action-wrapper {
    margin-top: 0 !important;
  }
  .browser-cat-card h3 {
    font-size: 20px;
  }
  .wallet-wrapper-title h2 {
    font-size: 28px;
  }
}

/* <!--==================== edit-profile- start============== --> */

section.edit-profile {
  padding: 100px 0;
}

.edit-profile-left form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item label {
  font-weight: 600;
  font-size: 17px;
  color: #131740;
}

.form-item input {
  background: #fedede;
  /* jacarta/100 */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.form-item span {
  color: var(--main-color);
}

.social-lint-con {
  background: #fedede;
  border: 1px solid #e7e8ec;
  border-radius: 5px;
}

.social-lint-con .social-link input {
  background: none;
  border: none;
}

.social-link {
  display: flex;
  border: 1px solid rgba(224, 57, 57, 0.2);
  gap: 5px;
  cursor: pointer;
  padding: 0 15px;
  align-items: center;
}

.social-img svg {
  width: 20px;
  height: 20px;
}

.wallet-input {
  background: #fedede;
  border: 1px solid #e7e8ec;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}

.wallet-input input {
  background: none !important;
  border: none;
  width: 80%;
}

.wallet-copy-icon svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-profile-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.edit-img {
  position: relative;
}

.edit-img img {
  width: 150px;
  height: 160px;
}

.upload-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#uploadBtn svg {
  width: 15px;
  height: 15px;
}

.edit-content h3 {
  font-size: 22px;
  font-weight: 600;
  color: #131740;
  padding-bottom: 10px;
}

.edit-content p {
  color: #5a5d79;
  font-weight: 500;
  font-size: 14px;
}

#photo {
  width: 150px;
  height: 160px;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.edit-profile-btn {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 30px;
  background: #fc5050;
  box-shadow: 5px 5px 10px rgba(252, 80, 80, 0.25), inset 2px 2px 6px #fb9292,
    inset -5px -5px 10px #e37171;
  border-radius: 100px;
}

.edit-profile-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.form-info.input-title .mb-3 .form-select-item:focus {
    border-radius: 0px !important;
}

.proper-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
border-bottom: 1px solid  #E7E8EC;
margin-bottom: 15px;
}
.proper-add-btn{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 4px;
  background: none;
  border: 1px solid var(--main-color);
}
/* <!--==================== edit-profile- end============== --> */

/* =================edit-profile-responsive  */

@media screen and (max-width: 992px) {
  section.edit-profile {
    padding: 70px 0 100px 0;
    width: 100%;
  }
  .edit-profile .row {
    flex-direction: column-reverse;
    width: 100%;
  }
  .edit-profile-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .edit-profile-right {
    margin-bottom: 30px;
  }
  .edit-profile-left {
    /* padding-right: 0px; */
    width: 100%;
  }
}
