/* ==================== User Admin =========================== */

.user-admin-warrper {
  display: flex;
}
.user-category-item span {
  color: #555d68;
  font-size: 18px;
  font-weight: 600;
}
.user-category-item {
  display: flex;
  gap: 0 15px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 15px;
}
.user-category-item.active{
  background: var(--main-color);
  border-radius: 6px;
  color: var(--white-color);
}
.user-category-item.active span{
  color: var(--white-color);
}
.user-category-item.active .category-item-icon svg path {
  fill: var(--white-color);
}
.user-category-item:hover {
  background: #f37171;
  border-radius: 6px;
  color: white;
}

.user-category-item:hover span{
  color: var(--white-color);
}

.user-category-item:hover .category-item-icon svg path {
  fill: var(--white-color);
}

.user-admin-left {
  padding: 50px 30px;
  width: 20%;
  background: #fff1f1;
  position: relative;
  overflow-y: auto;
  height: 92vh;
}

.sidebar-close-menu svg {
  text-align: left;
  right: 16px;
  top: 2%;
  width: 30px;
  height: 30px;
  /* display: none; */
  position: absolute;
  cursor: pointer;
  z-index: 11;
}

.sidebar-menu-icons {
  left: -2px;
  top: -37px;
  /* display: none; */
  position: absolute;
  cursor: pointer;
}

.sidebar-menu-icons svg {
  width: 30px;
  height: 30px;
}

.user-head-title {
  display: flex;
  align-items: center;
  gap: 0 25px;
  position: relative;
}

.user-profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user-profile-img img {
  width: 100%;
  border-radius: 50%;
}

.user-title-head a {
  color: #000;
  font-weight: 700;
  font-size: 22px;
}

.form-select:focus {
  border-color: #e03939 !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 50px !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}

.plus {
  position: absolute;
  right: 6px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #5ae6bc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  color: var(--white-color);
}

.user-ballance {
  margin: 30px 0;
  background: var(--white-color);
  box-shadow: 0px 30px 60px rgba(138, 149, 158, 0.05);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.balance-item p {
  color: #b0b1bc;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.balance-item h4 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

.balance-shit img {
  width: 100%;
}

.top-Up-balance a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-card.user-product.cpys-2 {
  margin-top: 30px;
}
.nft-item-card .nft-title {
  font-size: 18px;
  color: #555d68;
  font-weight: 600;
}
.nft-item-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 36px rgba(106, 55, 251, 0.2);
  background: rgba(255, 62, 62, 0.07);
  border: 1px solid rgba(255, 62, 62, 0.12);
}
/* .nft-item-card .nft-image {
  width: 350px;
} */
.nft-item-card img.product {
  width: 100%;
  border-radius: 10px;
}
.nft-item-card .name-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.nft-item-card p.token-type {
  padding: 0 13px;
  border-radius: 4px;
  line-height: 27px;
  background: var(--main-color);
  color: var(--white-color);
}

/* =================  */

.dashboard-header-item {
  padding: 0 40px 20px 40px;
  border-bottom: 1px solid rgba(7, 2, 40, 0.2);
  margin-bottom: 40px;
}
.dashboard-header-item .dashboard-con-btn button {
  border-radius: 6px;
  background: rgba(0, 23, 44, 0.05);
  padding: 10px 20px;
  color: var(--black-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 150px;
  color: rgba(7, 2, 40, 0.6);
}
.dashboard-header-item .dashboard-con-btn button.my-nft-btn.active-my-nft-btn {
  background: var(--main-color);
  color: var(--white-color);
}
.dashboard-header-item .dashboard-count span {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  color: var(--black-color);
}
.dashboard-header-item .dashboard-count .dashboard-refresh-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background: #d9d9d9;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-filter-item-bar {
  background-color: var(--main-color);
  width: 100%;
}
.filter-list-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.dashboard-wrapper {
  position: relative;
  width: 100%;
  padding-top: 150px;
  height: 100%;
  background-color: var(--white-color);
}

.dashboard-content-item {
  margin-top: 20px;
}
.filter-list-item-ber {
  display: none;
  color: black;
}
.filter-list-item-ber.active {
  display: block;
}

.user-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.category-item-icon svg {
  width: 20px;
  height: 20px;
}



.user-title-head p {
  color: #4a4a4a;
  font-weight: 600;
}

.user-title-head span {
  color: #ffc700;
}


.user-content {
  width: 80%;
  padding: 40px 30px 80px 30px;
  background: #ffffff;
}

.user-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.user-content-left span {
  font-size: 35px;
  font-weight: 700;
}

.user-content-right {
  display: flex;
  align-items: center;
  gap: 0 50px;
}

.user-content-left-site {
  background: #f9f9f9;
  border-radius: 31px;
  padding: 10px 25px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.creator {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(37, 45, 48, 0.04);
  border-radius: 31px;
  padding: 7px 22px;
  border: none;
  color: #14161b;
  font-weight: 700;
}

.user-content-left-site span {
  color: #b0b1bc;
  font-weight: 500;
  margin-left: 30px;
}

.user-content-right-site {
  display: flex;
  align-items: center;
  gap: 0 30px;
  position: relative;
}
.user-content-right-site:hover .dp-notification {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.user-content-right-site .dp-notification {
  position: absolute;
  width: 250px;
  /* background: var(--white-color); */
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin-top: 35px;
  right: 0;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  background: var(--white-color);
}
.user-content-right-site .dp-notification .list-item {
  transition: all 0.4s ease-in-out;
  padding: 7px 20px;
  cursor: pointer;
}
.user-content-right-site .dp-notification .list-item:hover {
  background: var(--main-color);
  color: var(--white-color);
}
.user-content-right-site .dp-notification .list-item .user-profle {
  width: 30px;
  height: 30px;
}
.user-content-right-site .dp-notification .list-item .user-profle img {
  width: 100%;
  border-radius: 50%;
}
.user-content-right-site .dp-notification .list-item p {
  font-size: 16px;
  color: var(--black-color);
}

.user-notification {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 2px solid #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: 0;
  right: -14px;
  background: #fc0380;
  border-radius: 100%;
  color: #ffffff;
  font-weight: 700;
  height: 30px;
  font-size: 11px;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-product {
  border: 1px solid rgba(99, 69, 237, 0.12);
  box-shadow: 0px 30px 60px rgba(138, 149, 158, 0.1);
  border-radius: 20px;
}

.user-product-img img {
  width: 100%;
}

.user-featured-creator {
  margin-top: 50px;
}

.user-featured-creator-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-featured-creator-title .sec-title-left h2 {
  font-weight: 700;
}

.top-author-item {
  background: var(--white-color);
  border: 1px solid rgba(99, 69, 237, 0.12);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 28px;
  justify-content: center;
  t: 20px;
  text-align: center;
  flex-direction: column;
}

.top-author-item-content {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
}

.tops-items img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nft-name-price a {
  padding-left: 0;
  color: var(--second-color);
  font-weight: 700;
}

.nft-name-price p {
  color: #dc4da6;
  font-weight: 700;
}

.user-featured-creator-title .sec-title-right a {
  color: #e03939;
  font-weight: 500;
}
.user-admin-author-item:hover {
  background: var(--white-color);
  box-shadow: 4px 4px 60px rgba(99, 69, 237, 0.15);
}

/* ==================== User Admin End=========================== */

/* ======================== Bids Start ====================== */
.bid-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  margin-bottom: 30px;
}

.bid-card-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #14161b;
}

.bid-card-title span {
  font-size: 15px;
  color: #b0b1bc;
}

.bids-dis-card span {
  background: rgba(244, 70, 46, 0.3);
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  color: #f4462e;
  font-weight: 700;
  font-size: 15px;
}

.bids-dis-card p {
  font-size: 16px;
  font-weight: 500;
  color: #b0b1bc;
}

.recent-bids-table {
  margin-top: 50px;
}

.recent-bids-header {
  display: flex;
  /* align-content: center; */
  justify-content: space-between;
  align-items: center;
}

.recent-head-title h2 {
  font-weight: 700;
}

.recent-bids-right {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.table-box-activity{
  height: 200px;
  overflow: auto;
}
.user-list-all-items {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.page-item.active .page-link{
  color: var(--main-color);
}
.page-link{
  color: var(--main-color);
}
.page-link:hover{
  color: var(--main-color);
}
.page-item.active .page-link{
background: var(--main-color);
color: var(--white-color);
border: 1px solid var(--main-color);
}
.recent-search {
  background: rgba(255, 255, 255, 0.07);
  border: 2px solid rgba(20, 22, 27, 0.12);
  border-radius: 50px;
  white-space: nowrap;
  padding: 10px 20px;
}

.recent-search input {
  border: none;
}

.recent-search button {
  border: none;
  background: none;
  outline: none;
}

.recent-select-item {
  border: 2px solid #e2e3e3;
  border-radius: 50px;
  padding: 5px;
}

.recent-select-item select {
  border: none;
}

.recent-select-item option {
  font-size: 20px;
  font-weight: 500;
}

.recent-item-list {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.item-list-left {
  width: 40px;
  height: 40px;
}

.item-list-left img {
  width: 100%;
}

.item-list-right h4 {
  font-size: 16px;
  color: #555d68;
  font-weight: 600;
}

.item-list-right p {
  font-size: 15px;
  color: #555d68;
  font-weight: 400;
}

.recent-action-btn {
  display: flex;
  align-items: center;
  gap: 0 15px;
}

button.action-edit-btn {
  border: none;
  background: #80cd6069;
  height: 35px;
  border-radius: 4px;
  width: 35px;
}

button.action-delete-btn {
  border: none;
  width: 35px;
  border-radius: 4px;
  height: 35px;
  background: #f4483057;
}

table tbody tr td {
  font-weight: 600;
  color: #555d68;
  font-size: 15px;
}

table > :not(caption) > * > * {
  border-bottom-width: 2px !important;
}
.recent-select-item .form-select {
  width: 100%;
}

/* ======================== Bids End ====================== */
.sidebar-close-menu {
  display: none;
}

.open-menu {
  position: fixed;
  background: var(--main-color);
  color: var(--white-color);
  width: 40px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  border-radius: 0px 10px 10px 0;
  display: none;
  top: 90px;
}
