
.wallet_model, .overlay2{
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    -webkit-overflow-scrolling: none;
    z-index: 11111111;
    transition: 0.5s;
  }
  .overlay2{
    backdrop-filter: blur(4px);
    background: #06123754;
  }
  .wallet-connect-content{
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    z-index: 33333333;
    display: flex;
    box-shadow: 0 10px 10px #757575;
    flex-direction: column;
    transition: 0.5s;
    gap: 20px;
  }
  .wallet-connect-content .modal-title{
    font-family: var(--secondary-font);
    color: var(--black-color);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .wallet-content-wrapper .connect-wallet-item{
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
    transition: all ease-in-out 0.4s;
    padding: 15px 0;
    border-radius: 7px;
    border: 1px solid rgba(18, 18, 18, 0.12);
  }
  .wallet-content-wrapper .connect-wallet-item:hover{
    background-color:var(--main-color);
    color: var(--white-color);
  }
  .wallet-connect-content .connect-wallet-item .wallet-img{
  width: 50px;
  height: 50px;
  }
  .wallet-connect-content .connect-wallet-item .wallet-img img{
  width: 100%;
  }
  .wallet-connect-content .connect-wallet-item h4{
  font-size: 20px;
  font-family: var(--third-font);
  font-weight: 900;
  }
  .wallet-connect-content .btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .wallet-connect-content .connect-wallet-item span{
    font-size: 18px;
  }